{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">Update Data</h1>
  <form action="/update/{{ patient.id }}" method="POST">
    <div class="form-row">
      <div class="col-sm-4 my-1">
        <input type="text" class="form-control" name="first_name" value="{{ patient.first_name }}">
      </div>
      <div class="col-sm-4 my-1">
        <input type="text" class="form-control" name="last_name" value="{{ patient.last_name }}">
      </div>
      <div class="col-sm-2 my-1">
        <label for="hospital_id" class="sr-only">Hospital:</label>
        <select class="form-control" name="hospital_id" id="hospital_id">
        {% for hs in hospitals %}
          {% if hs.id == hospital.id %}
            <option selected value="{{ hs.id }}">{{ hs.name }}</option>
          {% else %}
            <option value="{{ hs.id }}">{{ hs.name }}</option>
          {% endif %}
        {% endfor %}
        </select>
      </div>
      <div class="col-sm-2 my-1">
        <button type="submit" class="btn btn-primary btn-block">Update</button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
